@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

/* For custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #e2e8f0; /* bg-slate-200 */
}
.dark ::-webkit-scrollbar-track {
  background: #1e293b; /* bg-slate-800 */
}
::-webkit-scrollbar-thumb {
  background: #94a3b8; /* bg-slate-400 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* bg-slate-500 */
}
